
body {
	background-color: #e4e6e9;
}

header {
	position: relative;
	max-width: 100%;
	background-color: #000000;
	margin: 3% auto;

}

img {
	width: 60%;
	height: 290%;
	margin: 10% 0 0 20%;
	box-shadow: 0 0 0 10px #fff;
}

h1 {
	font-family: 'Roboto',
		sans-serif;
	color: #fff;
	font-size: 1.5rem;
	margin-left: 32%;
}

.lesson {
	text-transform: capitalize;
}

/*
* THIS IS FOR SECTION About
*/

.about {
	max-width: 75%;
	margin: auto;
}

.course {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	margin-left: 3%;
}

/*
* THIS IS CODE IS FOR LINKS
*/

.navlink {
	text-decoration: none;
	color: #000000;
}

.navlink:hover {
	color: tomato;
}

.link {
	text-decoration: none;
	color: #fff;
}

.link:hover{
	color: tomato;
}

.resource-link {
	list-style: none;
	padding-left: 1%;
}

.resources {
	margin-bottom: 10%;
	font-size: 1.2rem;
}

/*
* THIS IS CODE IS FOR THE FOOTER
*/
.about {
	max-width: 50%;
}

.footer-container {
	max-width: 100%;
	background-color: #000000;
	border-radius: 10px;
	margin: auto;
}

.student {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

p {
	color: #fff;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 1.1rem;
}

.date {
	display: flex;
	align-items: center;
	justify-content: center;
	color:#fff;
	font-size: 20px;
}
