@media only screen and (min-width: 60em) {
    body {
        background-color: #e4e6e9;
    }

    header {
        position: relative;
        max-width: 50%;
        background-color: #000000;
        border-radius: 10px;

    }

    h1 {
        top: 30%;
        position: absolute;
        font-size: 2.0rem;

    }

    .images {
        width: 350px;
        height: 100px;
        margin-left: 59%;
    }

    hr {
        margin-left: 2%;
    }

    .course {
        font-family: 'Roboto', sans-serif;
        font-size: 1.9rem;
        margin-left: 2%;
    }

    /*
* THIS IS CODE IS FOR LINKS
*/

    .navlink {
        text-decoration: none;
        color: #000000;
    }

    .navlink:hover {
        color: tomato;
    }

    .link {
        text-decoration: none;
        color: #fff;
    }

    .link:hover {
        color: tomato;
    }

    .resource-link {
        list-style: none;
        padding: 0;
    }

    .resources {
        margin-bottom: 10%;
        font-size: 1.5rem;
    }

    /*
* THIS IS CODE IS FOR THE FOOTER
*/

    .footer-container {
        max-width: 50%;
        background-color: #000000;
        border-radius: 10px;
    }

    .student {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    p {
        color: #fff;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .date {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
    }
}